<include file="Index/header" />



            <!--主要内容开始-->
            <div class="place">
                <div class="place_con">
                    <span>当前位置：</span>
                    <ul>
                        <li>首页></li>
                        <li>新闻</li>
                    </ul>
                </div>
            </div>
            <div class="Content">
                <foreach name='article' item='v'>
                <div class="Title">{$v.lable}</div> 
                <div class="txt_s">
                    <span>{$v.time|date='y-m-d H:i',###}</span>
                    <span>【来源:】滨海新区税务局</span>
                </div>
                <div class="Cont">
                    <p>{$v.content}</p>
                </div>
                </foreach>
            </div>
            <!--主要内容结束-->
            <div class="footer">
                <div class="footer0"></div>
                <div class="footer1">
                    <a href="#">网站地图</a>&nbsp|
                    <a href="#">免责声明</a> |
                    <a href="#">设为首页</a> |
                    <a href="#">加入收藏</a> |
                    <a href="#">联系我们</a> |
                    <a href="#">老板网站入口</a>
                </div>
                <div class="footer2">版权所有：天津地税局</div>
            </div>
        </div>
    </body>
</html>
