<include file="Index/header" />
<!--主要内容开始-->
 <div class="detail_three">
 <p class="detail_main_left_p1" style="background-color:#FFF;width:95%;margin:0px;padding-left:5%;height:40px;line-height:40px;">当前位置：<a href="{:U('Index/index')}">首页</a>>>><a href="#">正文</a></p>
 <div class="detail_three_left">
 
 <div class="detail_three_left_head">
 <foreach name='article' item='v'>
 <h1>{$v.lable}</h1>
 <span id="tianjia_time">添加时间：</span><span>{$v.time|date='Y-m-d H:i',###}</span>
 </div>
 <div class="detail_three_left_content">
 
 {$v.content}
 </div>
 </div>
 </foreach>
  <div class="detail_three_right">
  <div class="detail_three_right_news">
<span>最新新闻</span>
</div>
<ul>
<foreach name="alist" item="v">
<li><a href="{:U('Index/detil',array('id'=>$v['id']))}">{$v.lable}</a></li>
</foreach>
</ul>
  
   <div class="detail_three_right_news" style="margin-top:10px;">
<span>本站推荐</span>
</div>
<ul>
<foreach name="alist" item="v">
<li><a href="{:U('Index/detil',array('id'=>$v['id']))}">{$v.lable}</a></li>
</foreach>
</ul>
  
  </div>
 </div>
<!--主要内容结束-->
<include file="Index/footer" />
