<include file="Index/header" />
            <!--主要内容开始-->
            <div class="main_content">
                <!--新闻内容开始-->
                <div class="news_content">
                    <!--新闻内容左边部分开始-->
                    <div class="news_content_left" >
                        <div class="news_img" id="selectCar_img">
                            <p class="news_img_title">
                                <span class="active"><a href="#">图片新闻</a></span>
                                <span><a href="#">视频新闻</a></span>
                            </p>
                            <div class="news_img_content" style="display:block;" id="news_img_content1">
                                <div id="fade_focus">
                                    <div class="loading">Loading...<br /><img src="/UploadPic/2009-3/200932411630437.gif" width="100" height="100" /></div>
                                    <ul>
                                        <foreach name='picnew' item='v'>
                                            <li><a href="{$v.link}" ><img src="__PIC__/{$v.path}/{$v.name}" width="550" height="250" alt="{$v.lable}" /></a></li>
                                        </foreach>
                                    </ul>
                                </div>
                            </div>
                            <div class="news_img_content"  id="news_img_content1">
                                <div id="fade_focus1">
                                    <div class="loading">Loading...<br /><img src="/UploadPic/2009-3/200932411630437.gif" width="100" height="100" /></div>
                                    <ul>
                                        <foreach name='videonew' item='v'>
                                            <li><a href="{$v.link}" target="_blank"><img src="__VID__/{$v.path}/{$v.name}" width="550" height="250" alt="展示图片5" /></a></li>
                                        </foreach>     
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--新闻内容左边部分结束-->
                    <!--新闻内容中间部分开始-->
                    <div class="news_content_center" style="border: 1px solid #dbdbdb">
                        <p class="news_content_center_title">
                            <span class="news_content_center_title_s1">局内新闻</span>
                            <span class="news_content_center_title_s2"><a href="{:U('Articlelist/alist',array('type'=>7))}">更多>></a></span>
                        </p>
                        <div class="junei_img"><img src="__PUBLIC__/images/junei.png" /></div>
                        <ul class="u1">
                            <foreach name="article" item="v">
                                <li><a href="{:U('Index/detil',array('id'=>$v['id']))}">{$v.lable}</a></li>
                            </foreach>
                        </ul>
                    </div>
                    <!--新闻内容中间部分结束-->
                    <!--新闻内容右边部分开始-->
                    <div class="news_content_right" style="border: 1px solid #dbdbdb">
                        <div class="d2">
                            <b class="d2_b">公告栏</b>/<span class="d2_s">Notice</span><a href="#">更多>></a>
                        </div>
                        <div id="box_main_right_notice_box">
                            <div id="box_main_right_notice_bbox">
                                <div id="box_main_right_notice_box1">
                                    <foreach name='role' item='v'>
                                        <a href="{$v.link}">
                                            <div id="box_main_right_notice_box1">
                                                <p >{$v.lable}</p>
                                                <p >{$v.content}</p>
                                            </div>
                                        </a>
                                    </foreach>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!--新闻内容右边部分结束-->
                </div>
                <!--新闻内容结束-->
                <!--六小版块区域内容开始-->
                <div class="six_box" style="margin-top: 20px">
                    <div class="six_box_left">
                        <div class="download">
                            <if condition="$_SESSION.state eq 1 ">
                                <a href="{:U('Articlelist/index',array('type'=>31))}"><img src="__PUBLIC__/images/xiazaiyuandi.png" /></a>
                                <else /> <img src="__PUBLIC__/images/xiazaiyuandi.png" />
                            </if>

                        </div>
                        <div class="zhuanlan" style="border: 1px solid #dbdbdb">
                            <div class="d3">
                                <b>专栏入口</b>/<span>Column&nbsp;entry</span>
                            </div>
                            <ul>
                                <foreach name="column" item='v'>
                                    <li style="background:url(__PUBLIC__/images/vv{$v.id}.png) no-repeat left;"><a href="{:U('Articlelist/cindex',array('column'=>$v['id']))}">{$v.column}</a></li>

                                </foreach>
                            </ul>
                        </div>

                        <div class="investigation" style="border: 1px solid #dbdbdb">
                            <div class="d3">
                                <b>税务管理</b>/<span>Investigation</span>
                            </div>
                            <ul>
                                <li style="background:url(__PUBLIC__/images/v1.png) no-repeat left;"><a href="#">国家税务总局</a></li>
                                <li style="background:url(__PUBLIC__/images/v2.png) no-repeat left;"><a href="#">天津财税信息网</a></li>
                                <li style="background:url(__PUBLIC__/images/v3.png) no-repeat left;"><a href="#">天津财税信息中心</a></li>
                                <li id="fenju" onmouseover="displayfenju(this)" onmouseout="hidefenju(this)" style="background:url(__PUBLIC__/images/v4.png) no-repeat left;"><a href="#">地方税务分局</a>
                                    <div id="fenju_hidden">
                                        <ul>
                                            <li><a href="#">和平地税</a></li>
                                            <li><a href="#">河东地税</a></li>
                                            <li><a href="#">河西地税</a></li>
                                            <li><a href="#">何北地税</a></li>
                                            <li><a href="#">南开地税</a></li>
                                            <li><a href="#">红桥地税</a></li>
                                            <li><a href="#">东丽地税</a></li>
                                            <li><a href="#">津南地税</a></li>
                                            <li><a href="#">西青地税</a></li>
                                            <li><a href="#">北辰地税</a></li>
                                            <li><a href="#">武清地税</a></li>
                                            <li><a href="#">宝坻地税</a></li>
                                            <li><a href="#">静海地税</a></li>
                                            <li><a href="#">蓟县地税</a></li>
                                            <li><a href="#">宁河地税</a></li>
                                            <li><a href="#">滨海新区地税</a></li>
                                            <li><a href="#">滨海第一地税分局</a></li>
                                            <li><a href="#">滨海第二地税分局</a></li>
                                            <li><a href="#">滨海第三地税分局</a></li>
                                            <li><a href="#">滨海第四地税分局</a></li>
                                            <li><a href="#">滨海第五地税分局</a></li>
                                            <li><a href="#">滨海第六地税分局</a></li>
                                            <li><a href="#">地税直属局</a></li>
                                            <li><a href="#">第一稽查局</a></li>
                                            <li><a href="#">第二稽查局</a></li>
                                            <li><a href="#">纳税服务局</a></li>
                                            <li><a href="#">地税登记局</a></li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--主要内容中间六小版块区域内容开始-->
                    <div class="six_box_center">
                        <div style="float:left; ">
                            <div class="six_box_spart" style="border: 1px solid #dbdbdb">
                                <p class="six_box_spart_title">
                                    <span class="six_box_spart_title_s1">征管动态</span>
                                    <span class="six_box_spart_title_s2"><a href="{:U('Articlelist/alist',array('type'=>1))}">更多>></a></span>
                                </p>
                                <div class="six_img"><img src="__PUBLIC__/images/six_1.png" /></div>
                                <ul class="u2">
                                    <foreach name="zgdt" item="v">
                                        <li><a href="{:U('Index/detil',array('id'=>$v['id']))}">{$v.lable}</a></li>
                                    </foreach>
                                </ul>
                            </div>

                            <div class="six_box_spart" style="margin-left:15px;" style="border: 1px solid #dbdbdb">
                                <p class="six_box_spart_title">
                                    <span class="six_box_spart_title_s1">科所风采</span>
                                    <span class="six_box_spart_title_s2"><a href="{:U('Articlelist/alist',array('type'=>2))}">更多>></a></span>
                                </p>
                                <div class="six_img"><img src="__PUBLIC__/images/six_2.png" /></div>
                                <ul class="u2">
                                    <foreach name="ksfc" item="v">
                                        <li><a href="{:U('Index/detil',array('id'=>$v['id']))}">{$v.lable}</a></li>
                                    </foreach>
                                </ul>
                            </div>
                        </div>


                        <div style="float:left;  ">
                            <div class="six_box_spart" style="margin-top:10px;" style="border: 1px solid #dbdbdb">
                                <p class="six_box_spart_title">
                                    <span class="six_box_spart_title_s1">学习培训</span>
                                    <span class="six_box_spart_title_s2"><a href="{:U('Articlelist/alist',array('type'=>3))}">更多>></a></span>
                                </p>
                                <div class="six_img"><img src="__PUBLIC__/images/six_3.png" /></div>
                                <ul class="u2">
                                    <foreach name="xxpx" item="v">
                                        <li><a href="{:U('Index/detil',array('id'=>$v['id']))}">{$v.lable}</a></li>
                                    </foreach>
                                </ul>
                            </div>

                            <div class="six_box_spart" style="margin-left:15px; margin-top:10px;" style="border: 1px solid #dbdbdb">
                                <p class="six_box_spart_title">
                                    <span class="six_box_spart_title_s1">廉政建设</span>
                                    <span class="six_box_spart_title_s2"><a href="{:U('Articlelist/alist',array('type'=>4))}">更多>></a></span>
                                </p>
                                <div class="six_img"><img src="__PUBLIC__/images/six_4.png" /></div>
                                <ul class="u2">
                                    <foreach name="lzjs" item="v">
                                        <li><a href="{:U('Index/detil',array('id'=>$v['id']))}">{$v.lable}</a></li>
                                    </foreach>
                                </ul>
                            </div>
                        </div>

                        <div style="float:left;  ">
                            <div class="six_box_spart" style="margin-top:10px;" style="border: 1px solid #dbdbdb">
                                <p class="six_box_spart_title">
                                    <span class="six_box_spart_title_s1">党团工会</span>
                                    <span class="six_box_spart_title_s2"><a href="{:U('Articlelist/alist',array('type'=>5))}">更多>></a></span>
                                </p>
                                <div class="six_img"><img src="__PUBLIC__/images/six_5.png" /></div>
                                <ul class="u2">
                                    <foreach name="dtgz" item="v">
                                        <li><a href="{:U('Index/detil',array('id'=>$v['id']))}">{$v.lable}</a></li>
                                    </foreach>
                                </ul>
                            </div>

                            <div class="six_box_spart" style="margin-left:15px;margin-top:10px;" style="border: 1px solid #dbdbdb">
                                <p class="six_box_spart_title">
                                    <span class="six_box_spart_title_s1">生活园地</span>
                                    <span class="six_box_spart_title_s2"><a href="{:U('Articlelist/alist',array('type'=>6))}">更多>></a></span>
                                </p>
                                <div class="six_img"><img src="__PUBLIC__/images/six_6.png" /></div>
                                <ul class="u2">
                                    <if condition="$_SESSION.state eq 1 ">
                                        <foreach name="shyd" item="v">
                                            <li><a href="{:U('Index/detil',array('id'=>$v['id']))}">{$v.lable}</a></li>
                                        </foreach>
                                        <else /> 您未登录
                                    </if>

                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--主要内容中间六小版块区域内容结束-->
                    <div class="six_box_right" style="border: 1px solid #dbdbdb">
                        <div class="juyou"><img src="__PUBLIC__/images/juyou.png" /></div>
                        <div class="six_box_right_use">
                            <div class="d3" >
                                <b>应用专区</b>
                            </div>
                            <ul>
                                <li style="background:url(__PUBLIC__/images/1.png) no-repeat left rgb(255,255,255);"><a href="#">津税系统</a></li>
                                <li style="background:url(__PUBLIC__/images/2.png) no-repeat left rgb(255,255,255);"><a href="#">税管员平台</a></li>
                                <li style="background:url(__PUBLIC__/images/3.png) no-repeat left rgb(255,255,255);"><a href="#">一次性告知</a></li>
                                <li style="background:url(__PUBLIC__/images/4.png) no-repeat left rgb(255,255,255);"><a href="#">BIMS</a></li>
                                <li style="background:url(__PUBLIC__/images/5.png) no-repeat left rgb(255,255,255);"><a href="#">数据回访</a></li>
                                <li style="background:url(__PUBLIC__/images/6.png) no-repeat left rgb(255,255,255);"><a href="#">数据仓库</a></li>
                                <li style="background:url(__PUBLIC__/images/7.png) no-repeat left rgb(255,255,255);"><a href="#">12366</a></li>
                                <li style="background:url(__PUBLIC__/images/8.png) no-repeat left rgb(255,255,255);"><a href="#">远程教育平台</a></li>
                                <li style="background:url(__PUBLIC__/images/9.png) no-repeat left rgb(255,255,255);"><a href="#">公文处理</a></li>
                                <li style="background:url(__PUBLIC__/images/4.png) no-repeat left rgb(255,255,255);"><a href="#">津税测试</a></li>
                                <li style="background:url(__PUBLIC__/images/5.png) no-repeat left rgb(255,255,255);"><a href="#">平台测试</a></li>
                                <li style="background:url(__PUBLIC__/images/6.png) no-repeat left rgb(255,255,255);"><a href="#">绩效管理系统</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div style="clear:both;"></div>
                <!--六小版块区域内容结束-->


                <!--图片展示区域开始-->
                <div class="picture" style="border: 1px solid #dbdbdb">
                    <div class="d4">
                        <b>局内风貌</b>
                    </div>
                    <div id="picture_roll">
                        <div id="picture_bbox">
                            <ul id="ul1">
                                <!--<li style="margin-left:0px;"><img src="__PUBLIC__/images/1.jpg" border="0"/></li>-->
                                <foreach name='pic' item='v'>
                                    <li style="margin-left:10px;"><img src="__PIC__/{$v.path}/{$v.image}" border="0" style="width:240px;height:180px"/></li>
                                </foreach>
                            </ul>
                            <ul id="ul2"></ul>
                        </div>
                    </div>
                </div>
                <!--图片展示区域结束-->


            </div>
            <!--主要内容结束-->
            <include file="Index/footer" />