<include file="Index/header" />
            <!--主要内容开始-->
            <div class="detail_main">
                <div class="detail_main_left">
                    <p class="detail_main_left_p1">当前位置：<a href="#">首页</a>>><a href="#">更多新闻</a></p>
                    <p class="detail_main_left_p2"><span>更多新闻</span></p>
                    <ul>
                        <foreach name='article' item='v'>
                            <li><a href="{:U('Index/cdetil',array('id'=>$v['id']))}"><label style="width: 800px;">{$v.lable}</label><em>{$v.time|date='y-m-d H:i',###}</em></a></li>
                        </foreach>
                    </ul>
                    <div class="detail_news_bottom">
                        <ul>
                            {$page}
                        </ul>
                    </div>
                </div>
                <div class="detail_main_right">
                    <div class="detail_main_right_bai"></div>
                    <div class="detail_main_right_top">
                        <div class="detail_main_right_title1">
                            <span>站内搜索</span>
                        </div>
                        <form action="{:U('Search/asearch')}" method="post">
                        <input type="text" name="search" id="search"/>
                        <input type="submit" value="" id="search_btn" />
                    </form>
                        
                        <div class="detail_main_right_title2">
                            <span>本站推荐</span><a href="{:U('Articlelist/alist',array('type'=>1))}">>>更多</a>
                        </div>
                        <ul>

                            <foreach name="alist" item="v">
                                <li><a href="{:U('Index/detil',array('id'=>$v['id']))}">{$v.lable}</a></li>
                            </foreach>
                        </ul>
<!--                        <div class="six_box_right_use">
                            <div class="d3" >
                                <b>应用专区</b>
                            </div>
                            <ul>
                                <li style="background:url(__PUBLIC__/images/1.png) no-repeat left rgb(255,255,255);"><a href="#">津税系统</a></li>
                                <li style="background:url(__PUBLIC__/images/2.png) no-repeat left rgb(255,255,255);"><a href="#">税管员平台</a></li>
                                <li style="background:url(__PUBLIC__/images/3.png) no-repeat left rgb(255,255,255);"><a href="#">一次性告知</a></li>
                                <li style="background:url(__PUBLIC__/images/4.png) no-repeat left rgb(255,255,255);"><a href="#">BIMS</a></li>
                                <li style="background:url(__PUBLIC__/images/5.png) no-repeat left rgb(255,255,255);"><a href="#">数据回访</a></li>
                                <li style="background:url(__PUBLIC__/images/6.png) no-repeat left rgb(255,255,255);"><a href="#">数据仓库</a></li>
                                <li style="background:url(__PUBLIC__/images/7.png) no-repeat left rgb(255,255,255);"><a href="#">12366</a></li>
                                <li style="background:url(__PUBLIC__/images/8.png) no-repeat left rgb(255,255,255);"><a href="#">远程教育平台</a></li>
                                <li style="background:url(__PUBLIC__/images/9.png) no-repeat left rgb(255,255,255);"><a href="#">公文处理</a></li>
                                <li style="background:url(__PUBLIC__/images/4.png) no-repeat left rgb(255,255,255);"><a href="#">津税测试</a></li>
                                <li style="background:url(__PUBLIC__/images/5.png) no-repeat left rgb(255,255,255);"><a href="#">平台测试</a></li>
                                <li style="background:url(__PUBLIC__/images/6.png) no-repeat left rgb(255,255,255);"><a href="#">绩效管理系统</a></li>
                            </ul>
                        </div>-->
                    </div>
                </div>
            </div>
            <!--主要内容结束-->
            <include file="Index/footer" />