<!DOCTYPE html>
<html>
    <head>
        <title>查找</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <form action="{:U('Home'.'/Search/search')}" method="post" id="form">
            <div>
                <div>
                    <input class="text_value" value="" name="find" type="text" id="search">
                </div>
                <input class="button" id="submit" type="submit" style="background: url('__PUBLIC__/images/search.png') no-repeat; width:180px; height:37px;"/>
            </div>
        </form>
    </body>
</html>